<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IAtsPI" version="1.0.0.2" targetFramework="net472" />
  <package id="TR.BIDSSMemLib.rw" version="2.2.1.4" targetFramework="net472" />
  <package id="TR.BIDSSMemLib.structs" version="1.1.0" targetFramework="net472" />
  <package id="TR.ISMemCtrler" version="1.1.0.1" targetFramework="net472" />
  <package id="TR.ISMemIF" version="1.1.0.1" targetFramework="net472" />
  <package id="TR.SMemCtrler" version="1.1.1" targetFramework="net472" />
  <package id="TR.SMemCtrler.AutoReadSupporter" version="1.1.1" targetFramework="net472" />
  <package id="TR.SMemIF" version="2.0.0.1" targetFramework="net472" />
</packages>